<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
    </head>
    <body>

        <header class="navbar navbar-default navbar-fixed-top">
            <a class="navbar-brand" href="{{ baseUrl }}/">
                {{ title|default('The title') }}
            </a>
        </header>

        <main class="container">
            {{ content|raw }}
        </main>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script>
            $(function() {
                // Little tweak for <h1>
                $("main > h1").wrap('<div class="page-header" />');
            });
        </script>

    </body>
</html>
